<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head>
    <title>Jourmap Chrome Extension</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='angular-material.css' rel='stylesheet' type='text/css'>
    <style>
	html,body {
	    min-width:360px;
		max-width:360px;
		width:360px;
		font-size: 14px;
	}
	
	.content {
		min-height: 400px;
	}
	
	#signin h1 {
		text-align:center;
	}
	
	md-toolbar.md-hue-1 {
		background-color: rgba(0, 0, 0, 0) !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	}
	
	.jm-truncate {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	
	.jm-word-break {
		word-break: break-word;
	}
	
	md-tabs.layout-fill,
	md-tabs.layout-fill md-tabs-content-wrapper,
	md-tabs.layout-fill md-tabs-content-wrapper md-tab-content,
	md-tabs.layout-fill md-tabs-content-wrapper md-tab-content [md-tabs-template] {
		height: 100%;
	}
	md-tabs.md-tabs-no-header>md-tabs-wrapper {
		height:0;
		overflow: hidden;
	}
	
	md-list-item h3.md-subhead {
		margin: 0;
		color: rgba(0, 0, 0, 0.87);
	}
	
	md-list-item h4.md-body-2 {
		margin: 0;
		color: rgba(0, 0, 0, 0.87);
	}
	
	md-list-item p.md-body-1 {
		margin: 0;
		color: rgba(0, 0, 0, 0.54);
	}
	
	md-list-item .jm-list-item-text {
		margin: 16px 0;
	}
	
	md-list-item .jm-icon-next {
	    margin-left:16px;
	}
	
	._md-list-item-inner {
		box-sizing: border-box;
	}
	
	.jm-empty > div {
		text-align: center;
	}
	
	.jm-empty md-icon {
		font-size: 36px;
	}
	
	.jm-ratingbar {
		position: relative;
		color: #df5b15;
	}
	
	.jm-ratingbar > span {
		position: absolute;
	    left: 0px;
	    overflow: hidden;
	}
	
	.map-preview {
		width: 100%;
	}
	
	.jm-preview {
		width: 80px;
		height: 80px;
		margin-right: 16px;
		margin-top: 16px;
		background-size: cover;
		background-color: #dddddd;
	}
	
	.md-list-item-text {
		padding: 16px 0;
	}
	
	.demo_text {
	    position: relative;
	}
	
	.demo_text textarea {
	    position: absolute;
	    top: 0;
	    left: 0;
	    border: 0 none transparent;
	    margin: 0;
	    padding: 0;
	    outline: none;
	    resize: none;
	    overflow: hidden;
	    font-family: inherit;
	    font-size: 1em;
		background-color: transparent;
	}
    </style>

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
     -->
		<script src="jquery-2.2.2.min.js"></script>
		<script src="angular.min.js"></script>
		<script src="angular-animate.min.js"></script>
		<script src="angular-aria.min.js"></script>
		<script src="angular-messages.min.js"></script>
		<script src="angular-sanitize.min.js"></script>
		<script src="angular-material.min.js"></script>
		<script src="directives.js"></script>
		<script src="popup.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-58018452-5', 'auto');
		  ga('send', 'pageview');

		</script>
  </head>
  <body ng-app="JourmapChromeEx" ng-controller="PopupController" ng-cloak>
		<md-content class="content" ng-if="!selectedText" layout="column" layout-align="center center" layout-fill>
		<div class="jm-empty">
			<div>
				<md-icon>text_format</md-icon>
			</div>
			<div>
				<p class="md-title" ng-bind-html="_('select_text_first')"></p>
			</div>
		</div>
	  </md-content>
	  <md-content class="content" ng-if="selectedText&&!user" layout-fill layout="column" layout-align="center center">
	<md-progress-circular class="md-accent" md-mode='indeterminate' md-diameter="40" ng-if="loading"></md-progress-circular>
	<div ng-if="!loading" layout="column" layout-align="center center">
		<h1>Jourmap</h1>
		<p>{{ _("sign_in_first") }}</p>
		<md-button class="md-raised md-primary" ng-click="openJourmap()">{{ _("open_jourmap") }}</md-button>
	</div>
  </md-content>
    <md-content class="content" ng-if="user" layout="column" layout-fill>
  	  <md-tabs class="md-tabs-no-header" md-autoselect md-dynamic-height layout-fill ng-cloak>
  	        <md-tab label="dummy">
  				<md-content layout="column" layout-fill>
					<md-toolbar class="md-hue-1">
				      <div class="md-toolbar-tools">
						  <h2 class="jm-truncate">
				            <span>{{ _("search_results_title", [ selectedText ]) }}</span>
				          </h2>
				      </div>
				    </md-toolbar>
					<md-content ng-if="places.length > 0 || placesResult.more" flex>
  					<md-list>
  						<md-list-item class="md-2-line" ng-click="selectPlace(place)" ng-repeat="place in places">
  						    <md-icon class="md-avatar">{{ getPlaceIconName(place.types) }}</md-icon>
							<div layout="column" layout-align="center stretch" flex>
								<div class="jm-list-item-text" layout="column">
								    <h3 class="md-subhead jm-truncate">{{ place.name }}</h3>
									<h4 class="md-body-2 jm-truncate" ><jm-rating-bar jm-rating="place.rating"></jm-rating-bar></h4>
									<p class="md-body-1">{{ place.formatted_address }}</p>
							    </div>
							</div>
							<md-icon class="jm-icon-next">navigate_next</md-icon>
  						</md-list-item>
  					</md-list>
					<div layout="column" layout-align="center center" layout-padding>
						<md-button ng-if="placesResult.more&&!loadingPlaces" class="md-accent" ng-click="loadMorePlaces(placesResult.next_page_token)">{{ _("load_more") }}</md-button>
						<md-progress-circular class="md-accent" md-mode='indeterminate' md-diameter="40" ng-if="loadingPlaces"></md-progress-circular>
					</div>
  				</md-content>
				<md-content class="jm-empty" ng-if="places.length == 0 && placesResult && !placesResult.more" layout="column" layout-align="center center" flex>
					<div>
						<div>
							<md-icon>location_off</md-icon>
					</div>
						<div>
							<p class="md-title">{{ _("place_not_found") }}</p>
						</div>
					</div>
				</md-content>
  			</md-tab>
  			<md-tab label="dummy" ng-if="selectedPlace">
  				<md-content layout="column" layout-fill>
					<md-toolbar class="md-hue-1">
				      <div class="md-toolbar-tools">
				          <md-button class="md-icon-button" aria-label="" ng-click="backToPlaceList();">
				            <md-icon>arrow_back</md-icon>
				  		  </md-button>
						  <h2 flex>
				            <span>{{ selectedPlace.name }}</span>
				          </h2>
				          <md-button class="md-icon-button" ng-class="{ 'md-accent' : selectedPlace.is_saved }" aria-label="" ng-click="savePlace(selectedPlace, !selectedPlace.is_saved);">
							<md-tooltip md-direction="bottom">
							          {{ _("save") }}
							 </md-tooltip>
				            <md-icon>{{ getSaveStateIconName(selectedPlace.is_saved) }}</md-icon>
				  		  </md-button>
				      </div>
				    </md-toolbar>
					<md-content flex>
					<img class="map-preview" ng-if="selectedPlace.loc" ng-src="{{ getMapImageUrl(selectedPlace) }}">
					</img>
  					<md-list>
  						<md-list-item class="md-2-line">
  						    <md-icon class="md-avatar">{{ getPlaceIconName(selectedPlace.types) }}</md-icon>
							<div layout="column" layout-align="center stretch" flex>
								<div class="jm-list-item-text" layout="column">
								    <h3 class="md-subhead jm-truncate">{{ selectedPlace.name }}</h3>
									<h4 class="md-body-2 jm-truncate" ><jm-rating-bar jm-rating="selectedPlace.rating"></jm-rating-bar></h4>
									<p class="md-body-1">{{ selectedPlace.formatted_address }}</p>
							    </div>
							</div>
							<md-divider></md-divider>
  						</md-list-item>
  						<md-list-item ng-if="selectedPlace.phone">
  						    <md-icon>phone</md-icon>
							<p>
								{{ selectedPlace.phone }}
							</p>
  						</md-list-item>
  						<md-list-item ng-if="selectedPlace.url">
  						    <md-icon>link</md-icon>
							<p class="jm-word-break">
								<a href="{{ selectedPlace.url }}" target="_blank">{{ selectedPlace.url }}</a>
							</p>
  						</md-list-item>
  					</md-list>
					<section>
						<md-subheader class="md-no-sticky">{{ _("related_itineraries") }}</md-subheader>
						<md-list>
						      <md-list-item ng-href="{{ item.url }}" class="md-3-line" ng-repeat="item in itineraries" ng-click="openJourney(item)">
						        <img ng-src="{{ item.image_url }}" class="jm-preview" />
						        <div class="md-list-item-text" layout="column">
						          <h3>{{ item.title }}</h3>
								  <p ng-bind-html="item.body"></p>
						          <h4>{{ item.caption }}</h4>
						        </div>
						      </md-list-item>
						</md-list>
						<div ng-if="loadingItineraries" layout="row" layout-align="center center">
							<md-progress-circular class="md-accent" md-mode='indeterminate' md-diameter="40"></md-progress-circular>
						</div>
					</section>
					</md-content>
					<div layout="row">
						<span flex></span>
						<md-button class="md-raised md-primary" ng-click="selectJourneys()">{{ _("add_to_journeys") }}</md-button>
					</div>
  				</md-content>
  			</md-tab>
  			<md-tab label="dummy" ng-if="showJourneys">
  				<md-content layout="column" layout-fill>
					<md-toolbar class="md-hue-1">
				      <div class="md-toolbar-tools">
				          <md-button class="md-icon-button" aria-label="" ng-click="backToPlaceInfo();">
				            <md-icon>arrow_back</md-icon>
				  		  </md-button>
						  <h2 flex>
				            <span>{{ _("select_a_journey") }}</span>
				          </h2>
				          <md-button class="md-icon-button" aria-label="" ng-click="showAddJourney()">
						<md-tooltip md-direction="bottom">
						          {{ _("create_new_journey") }}
						 </md-tooltip>
				            <md-icon>add</md-icon>
				  		  </md-button>
				      </div>
				    </md-toolbar>
					<md-content flex>
						<div ng-if="showNewJourney" layout-padding>
							<md-input-container class="md-block">
					          <label>{{ _("title") }}</label>
					          <input ng-model="newJourneyData.title">
					        </md-input-container>
							<div layout="row">
								<span flex></span>
	  				          <md-button class="md-raised md-primary" aria-label="" ng-click="createJourney(newJourneyData)">
	  				            {{ _("create") }}
	  				  		  </md-button>
						  </div>
						</div>
						<md-divider></md-divider>
						<md-list-item class="md-2-line" ng-click="selectJourney(journey)" ng-repeat="journey in journeys">
						    <div ng-style="{ 'background-image': (journey.image_url ? ('url(' + journey.image_url +')'): 'none') }" class="jm-preview"></div>
							<div layout="column" layout-align="center stretch" flex>
								<div class="jm-list-item-text" layout="column">
								    <h3 class="md-subhead jm-truncate">{{ journey.title }}</h3>
									<p class="md-body-1">{{ journey.created_timestamp | date:'MMM d, yyyy hh:mma' }}</p>
							    </div>
							</div>
							<md-icon class="jm-icon-next">navigate_next</md-icon>
						</md-list-item>
						<div layout="column" layout-align="center center" layout-padding>
							<md-button  ng-if="journeysResult.more&&!loadingJourneys" class="md-accent" ng-click="loadMoreJourneys(journeysResult.cursor)">{{ _("load_more") }}</md-button>
							<md-progress-circular class="md-accent" md-mode='indeterminate' md-diameter="40" ng-if="loadingJourneys"></md-progress-circular>
						</div>
					</md-content>
  				</md-content>
  			</md-tab>
  			<md-tab label="dummy" ng-if="selectedJourney">
  				<md-content layout="column" layout-fill>
					<md-toolbar class="md-hue-1">
				      <div class="md-toolbar-tools">
				          <md-button class="md-icon-button" aria-label="" ng-click="backToJourneyList();">
				            <md-icon>arrow_back</md-icon>
				  		  </md-button>
						  <h2>
				            <span>{{ _("select_a_day") }}</span>
				          </h2>
				      </div>
				    </md-toolbar>
					<md-content flex>
  					<md-list>
  						<md-list-item class="md-2-line" ng-click="addToJourneyDay(selectedJourney, day, selectedPlace)" ng-repeat="day in selectedJourney.days">
							<div class="jm-list-item-text" layout="column">
							    <h3 class="md-subhead jm-truncate">{{ _("day_number", [ $index + 1 ]) }}</h3>
								<p class="md-body-1">{{ getDayItinerary(day) }}</p>
						    </div>
  						</md-list-item>
  					</md-list>
					<div layout="column" layout-align="center center" layout-padding>
						<md-button ng-if="!loadingJourneyDays" class="md-accent" ng-click="addJourneyDay(selectedJourney)">{{ _("add_day") }}</md-button>
						<md-progress-circular class="md-accent" md-mode='indeterminate' md-diameter="40" ng-if="loadingJourneyDays"></md-progress-circular>
					</div>
					</md-content>
					<div layout="row">
						<span flex></span>
						<md-button class="md-raised md-primary" ng-click="openJourney(selectedJourney)">{{ _("open_on_jourmap") }}</md-button>
					</div>
  				</md-content>
  			</md-tab>
  		</md-tabs>
	</md-content>
  </body>
</html>

